body
{
  background-color: #3D4E17;
}

.container {
    position: fixed; /* Fix the container to the screen */
    display: flex; /* Enable flexbox layout */
    flex-direction: row; /* Arrange components side-by-side */
}

plantTitle{
    top: 0;
}