body
{
  background-color: #3D4E17;
}

.graphs-container {
    display: flex;
    height: 25%;
    width: 100%;
    border: 2px solid red;
    gap: 5%
}

.graph-container{
    width: 30%
}

. PlantGraph {
    display: flex;
    width: 100%; /* Make image fit container width */
    height: 100%; /* Make image fit container height */
    flex-direction: row;
}
