.title {
    top: 0;
}

.mood-container {
    border: 1px solid black;
    height: 100%;
    width: 50%; /* Span the full width */
    border: 1px solid cyan;
}

.videofeed-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%; /* Span the full width */
    border: 1px solid black;
}

.emoji-container{
    top: 0;
    left: 0;
    border: 1px solid black;

}
.mood-graph-container {
    top: 0;
    left: 0;
    border: 1px solid red;
    height: 55%;
}