body
{
  background-color: #3D4E17;
}

.cursor{
  border: 5px solid red;
  position: relative;
}

.plant{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 50%;
  border: 1px solid black;
}

.mood{
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%; /* Span the full width */
  border: 1px solid black;
}

.control{
  position: fixed;
  bottom: 0;
  right:0;
  height: 50%;
  width: 50%; /* Span the full width */
  border: 1px solid red;
}
